PORT=3001
MYSQL_HOST=mysql
MYSQL_USER=app_user
MYSQL_PASSWORD=app_password
MYSQL_DATABASE=sales_mysql
POSTGRES_HOST=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=sales_pg
POSTGRES_PORT=5432
